.App {
    height: 90vh;
    position: absolute;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
    .container {
        padding: 0 0.75rem !important;
        .container-side-bar {
            background-color: var(--bs-white);
        }
        .container-container {
            background-color: rgb(246, 246, 248);
        }
    }
}
@media (max-width: 764px) {
    .App {
        position: static;

        .container {
            .container-container {
            }
        }
    }
}
