.wrapper-side-bar {
    color: var(--bs-dark);
    height: 90vh;
    overflow: hidden;
    .side-bar {
        padding-top: 10px;
        img {
            max-width: 100%;
            height: auto;
        }
        .name-city {
            font-size: 3.2rem;
            font-weight: 700;
        }
        .temperature {
            font-size: 4rem;
            font-weight: 700;
            line-height: 4rem;
            padding-top: 6px;
        }
        .time {
            display: flex;
            font-size: 2rem;
            line-height: 2rem;
            font-weight: 500;
            padding-top: 20px;
        }
        .clouds {
            padding-top: 9px;
            font-weight: 500;
        }

        .image-bottom {
            position: relative;
            padding-top: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: auto;
            img {
                max-width: 100%;
                height: auto;
                border-radius: 0.25rem;
            }

            .name-city {
                position: absolute;
                color: var(--bs-white);
                font-size: 2.8rem;
            }
        }
    }
}
@media (max-width: 764px) {
    .wrapper-side-bar {
        height: auto;
        .side-bar {
            .image-bottom {
                padding-bottom: 20px;
            }
        }
    }
}
